<div id="login-form">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= error_messages_for(@user) %>
  <table>
    <tr>
      <td class="set_right"><%= f.label :login %></td>
      <td class="set_left"><%= f.text_field :login %></td>
    </tr>
    <tr>
      <td class="set_right"><%= f.label :email %></td>
      <td class="set_left"><%= f.email_field :email %></td>
    </tr>
    <tr>
      <td class="set_right"><%= f.label :password %></td>
      <td class="set_left"><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td class="set_right"><%= f.label :password_confirmation %></td>
      <td class="set_left"><%= f.password_field :password_confirmation %></td>
    </tr>
    <tr>
      <td></td>
      <td class="set_right"><%= f.submit "登録" %></td>
    </tr>
  </table>
  <% end %>
</div>
<%= render "devise/shared/links" %>
