<% if SETTINGS['external_auth']['google_enable'] or SETTINGS['external_auth']['twitter_enable'] or SETTINGS['external_auth']['facebook_enable'] %>
<div id="login-form2">
  <table>
    <tr>
      <th colspan="<%= SETTINGS['external_auth'].values.count(true) %>">普段お使いのアカウントでログインされる場合はこちら</th>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <% if SETTINGS['external_auth']['google_enable'] %>
      <td><%= link_to image_tag('google-16x16.png', :alt => "Googleアカウントでログイン", :size => '48x48'), user_omniauth_authorize_path(:google) %></td>
      <% end %>
      <% if SETTINGS['external_auth']['twitter_enable'] %>
      <td><%= link_to image_tag('twitter-16x16.png', :alt => "Twitterアカウントでログイン", :size => '48x48'), user_omniauth_authorize_path(:twitter) %></td>
      <% end %>
      <% if SETTINGS['external_auth']['facebook_enable'] %>
      <td><%= link_to image_tag('facebook-16x16.png', :alt => "Facebookアカウントでログイン", :size => '48x48'), user_omniauth_authorize_path(:facebook) %></td>
      <% end %>
      <!-- <td><%= link_to image_tag('openam-16x16.png', :alt => "OpenAM(SAML対応システム)経由でログイン"), user_omniauth_authorize_path(:openam) %></td> -->
    </tr>
  </table>
</div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<div id="login-form2">
  <table>
    <tr>
      <th>アカウントを新規に登録される場合はこちら</th>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td><%= button_to "新規登録", new_registration_path(resource_name), :method=>:get %></td>
    </tr>
  </table>
</div>
<% end -%>
<%- if controller_name != 'users' %>
<div id="login-form2">
  <table>
    <tr>
      <th>アカウントをお持ちの場合はこちら</th>
    </tr>
    <tr>
      <td><%= button_to "ログイン", new_session_path(resource_name), :method=>:get %></td>
    </tr>
  </table>
</div>
<% end -%>
