<h2>住基情報取り込み</h2>

<%= form_tag({:action => :import}, {:multipart => true}) do %>
<%= hidden_field_tag "commit_kind" %>
<div class="splitcontent" style="width: 70%;">
  <div class="splitcontentleft">
    <p>
      <%= file_field "document", "file" %>
    </p>
    <p>
      取り込み処理履歴一覧
    </p>
  </div>
  <div class="splitcontentright">
    <p>
      <%#= submit_tag "取り込み" %>
      <%= submit_tag "取込", :kind => "import", :confirm => t(:text_get_address_confirmation) %>
      <%= submit_tag "住基マッチング", :kind => "matching", :confirm => t(:text_address_matching_confirmation) %>
    </p>
    <p>
      <%= will_paginate @juki_histories, :previous_label => "前 &lt;&lt; ",
      :next_label => " &gt;&gt; 次", :page_links => false,
      :link_separator => "#{page_entries_info @juki_histories}",
      :container => false %>
    </p>
  </div>
</div>
<% end %>

<table class="list" style="width: 50%;">
  <thead>
    <tr>
      <th class="set_center">取り込み年月日</th>
      <th class="set_center">取り込み件数</th>
      <th class="set_center">取り込み担当者</th>
      <th class="set_center">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @juki_histories.each do |juki_history| %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td class="set_center"><%= l(juki_history.created_at) if juki_history.created_at.present? %></td>
      <td class="set_right"> 　<%= juki_history.number %></td>
      <td class="set_center"><%= juki_history.created_by %></td>
      <td class="set_center"><%= @juki_history_const["status"]["#{juki_history.status}"] %></td>
    </tr>
    <% end if @juki_histories.present? %>
  </tbody>
</table>
