<div id="login-form">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <table>
      <tr>
        <td class="set_right">
          <%= f.label "ログイン:" %>
        </td>
        <td class="set_left">
          <%= f.text_field :login %>
        </td>
      </tr>
      <tr>
        <td class="set_right"><%= f.label "パスワード:" %></td>
        <td class="set_left"><%= f.password_field :password %></td>
      </tr>
      <tr>
        <td></td>
        <td class="set_left"></td>
      </tr>
      <tr>
        <td class="set_left"></td>
        <td class="set_right">
          <%= f.submit "ログイン" %>
  <% end %>
<%= button_to "googleアカウントでログイン", user_omniauth_authorize_path(:google) %>
<%= button_to "twitterアカウントでログイン", user_omniauth_authorize_path(:twitter) %>
<%= button_to "facebookアカウントでログイン", user_omniauth_authorize_path(:facebook) %>
<%= button_to "OpenAM(SAML対応システム)経由でログイン", user_omniauth_authorize_path(:openam) %>
        </td>
      </tr>
    </table>
</div>
