<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t("label_title") %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <div id="wrapper2">
        <div id="top-menu">
          <div id="account">
            <ul>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path %>
              </li>
            </ul>
          </div>
          <div id="loggedas">
            ログイン中： <%= link_to current_user.login, "#" %>
          </div>
        </div>
        <div id="header">
          <h1><%= I18n.t("label_title") %></h1>
          <div id="quick-search"></div>
          <div id="main-menu">
            <%= tabs_tag(:builder => MenuTabBuilder) do |tab| %>
              <%= tab.register I18n.t("label_tab_register"), evacuees_new_path %>
              <%= tab.local_person I18n.t("label_tab_local_person"), local_people_index_path %>
              <%= tab.evacuee I18n.t("label_tab_evacuee"), evacuees_index_path %>
              <%= tab.linkage I18n.t("label_tab_linkage"), linkages_index_path %>
              <%= tab.juki I18n.t("label_tab_juki"), jukis_index_path %>
            <% end %>
          </div>
        </div>
        <div id="main" class="nosidebar">
          <div id="sidebar"></div>
          <div id="content">
            <% if alert %>
              <div class="flash error"><%= alert %></div>
            <% end %>
            <% if notice %>
              <div class="flash notice"><%= notice %></div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
