<%= hidden_field_tag "commit_kind" %>

<%= javascript_tag do %>
 $(function() {
    $( "#evacuee_home_city" ).autocomplete({
      source: <%= raw Rails.cache.read("city") %>,
      maxItemsToShow: 15,
      delay: 40,
      minChars: 1
    });
    
    $( "#evacuee_home_street" ).autocomplete({
      source: <%= raw Rails.cache.read("street") %>,
      maxItemsToShow: 15,
      delay: 40,
      minChars: 1
    });
  });
<% end %>

<div style="background-color: #ADD8E6; padding: 10px;">
  <h2 style="display: inline;">避難者登録・更新</h2>
  <span style="margin-left: 5px; font-size: 12px;">住基情報マッチング</span>
  <span style="color: blue; margin-left: 5px;">
    <%= @evacuee_const["juki_status"]["#{@evacuee.juki_status}"] %>
  </span>
</div>

<div class="box tabular">
  <div id="all_attributes">
    <div class="splitcontent">
      <div class="splitcontentright">
        <p style="float: right;">
          <%= submit_tag "保存", :kind => "save", :tabindex => 34 %>
          <%= submit_tag "削除", :kind => "delete", :disabled => @evacuee.new_record?, :tabindex => 35 %>
          <%= submit_tag "住基マッチング", :kind => "match", :disabled => @evacuee.new_record?, :tabindex => 36 %>
          <%= submit_tag "戻る", :kind => "back", :tabindex => 38 %>
        </p>
      </div>
    </div>

    <div class="splitcontent">
      <div class="splitcontentleft">
        <p>
          <label>氏名</label>
          <%= text_field :evacuee, :family_name, :size => 15, :tabindex => 1 %>
          <%= text_field :evacuee, :given_name, :size => 15, :tabindex => 2 %>
        </p>
        <p style="width: 360px;">
          <label>生年月日</label>
          <%= text_field :evacuee, :date_of_birth, :tabindex => 5 %>
        </p>
        <p>
          <label>郵便番号</label>
          <%= text_field :evacuee, :home_postal_code, :tabindex => 7 %>
        </p>
        <p>
          <label>都道府県</label>
          <%= text_field :evacuee, :home_state, :tabindex => 9 %>
        </p>
        <p>
          <label>町名</label>
          <%= text_field :evacuee, :home_street, :tabindex => 11 %>
        </p>
        <p>
          <label>避難所</label>
          <%= select(:evacuee, :shelter_name,
          options_for_select(@shelter.invert,
          @evacuee.shelter_name),
          { :include_blank => true }, :tabindex => 13) %>
        </p>
      </div>
      <div class="splitcontentright">
        <p>
          <label>氏名カナ</label>
          <%= text_field :evacuee, :alternate_family_name, :size => 15, :tabindex => 3 %>
          <%= text_field :evacuee, :alternate_given_name, :size => 15, :tabindex => 4 %>
        </p>
        <p>
          <label>性別</label>
          <%= select(:evacuee, :sex,
          options_for_select(@evacuee_const["sex"].invert, @evacuee.sex),
          { :include_blank => true }, :tabindex => 6) %>
        </p>
        <p>
          <label>市内・市外区分</label>
          <%= select(:evacuee, :in_city_flag,
          options_for_select(@evacuee_const["in_city_flag"].invert,
          @evacuee.in_city_flag),
          { :include_blank => true }, :tabindex => 8) %>
        </p>
        <p>
          <label>市区町村</label>
          <%= text_field :evacuee, :home_city, :tabindex => 10 %>
        </p>
        <p>
          <label>番地</label>
          <%= text_field :evacuee, :house_number, :tabindex => 12 %>
        </p>
        <p>
          <label>避難状況</label>
          <%= select(:evacuee, :refuge_status,
          options_for_select(@evacuee_const["refuge_status"].invert,
          @evacuee.refuge_status),
          { :include_blank => true }, :tabindex => 14) %>
        </p>
      </div>
    </div>
    <p>
      <label>避難理由</label>
      <%= text_field :evacuee, :refuge_reason, :tabindex => 15, :size => 100 %>
    </p>
    <div class="splitcontent">
      <div class="splitcontentleft">
        <p>
          <label>入所年月日</label>
          <%= text_field :evacuee, :shelter_entry_date, :tabindex => 16 %>
        </p>
        <p>
          <label>退所先</label>
          <%= text_field :evacuee, :next_place, :tabindex => 18 %>
        </p>
      </div>
      <div class="splitcontentright">
        <p>
          <label>退所年月日</label>
          <%= text_field :evacuee, :shelter_leave_date, :tabindex => 17 %>
        </p>
        <p>
          <label>退所先電話番号</label>
          <%= text_field :evacuee, :next_place_phone, :tabindex => 19 %>
        </p>
      </div>
    </div>
    <p>
      <span style="margin-right:180px;">
        <label>負傷</label>
        <%= select(:evacuee, :injury_flag,
        options_for_select(@evacuee_const["injury_flag"].invert, @evacuee.injury_flag),
        { :include_blank => true }, :tabindex => 20) %>
      </span>
      <label class="inline">負傷内容
        <span style="margin-left: 36px;">
          <%= text_field :evacuee, :injury_condition, :tabindex => 21, :size => 65 %>
        </span>
      </label>
    </p>
    <p>
      <span style="margin-right:180px;">
        <label>アレルギー</label>
        <%= select(:evacuee, :allergy_flag,
        options_for_select(@evacuee_const["allergy_flag"].invert,
        @evacuee.allergy_flag),
        { :include_blank => true }, :tabindex => 22) %>
      </span>
      <label class="inline">アレルギー物質
        <%= text_field :evacuee, :allergy_cause, :tabindex => 23, :size => 65 %>
      </label>
    </p>
    <div class="splitcontent">
      <div class="splitcontentleft">
        <p>
          <label>妊婦</label>
          <%= select(:evacuee, :pregnancy,
          options_for_select(@evacuee_const["pregnancy"].invert, @evacuee.pregnancy),
          { :include_blank => true }, :tabindex => 24) %>
        </p>
        <p>
          <label>要介護度3以上</label>
          <%= select(:evacuee, :upper_care_level_three,
          options_for_select(@evacuee_const["upper_care_level_three"].invert,
          @evacuee.upper_care_level_three),
          { :include_blank => true }, :tabindex => 26) %>
        </p>
        <p>
          <label>高齢者世帯（夫婦共に65歳以上）</label>
          <%= select(:evacuee, :elderly_couple,
          options_for_select(@evacuee_const["elderly_couple"].invert,
          @evacuee.elderly_couple),
          { :include_blank => true }, :tabindex => 28) %>
        </p>
        <p>
          <label>認知症高齢者</label>
          <%= select(:evacuee, :elderly_dementia,
          options_for_select(@evacuee_const["elderly_dementia"].invert,
          @evacuee.elderly_dementia),
          { :include_blank => true }, :tabindex => 30) %>
        </p>
        <p>
          <label>身体障害者手帳所持者</label>
          <%= select(:evacuee, :physical_disability_certificate,
          options_for_select(@evacuee_const["physical_disability_certificate"].invert,
          @evacuee.physical_disability_certificate),
          { :include_blank => true }, :tabindex => 32) %>
        </p>
      </div>
      <div class="splitcontentright">
        <p>
          <label>乳幼児</label>
          <%= select(:evacuee, :baby,
          options_for_select(@evacuee_const["baby"].invert, @evacuee.baby),
          { :include_blank => true }, :tabindex => 25) %>
        </p>
        <p>
          <label>一人暮らし高齢者（65歳以上）</label>
          <%= select(:evacuee, :elderly_alone,
          options_for_select(@evacuee_const["elderly_alone"].invert,
          @evacuee.elderly_alone),
          { :include_blank => true }, :tabindex => 27) %>
        </p>
        <p>
          <label>寝たきり高齢者</label>
          <%= select(:evacuee, :bedridden_elderly,
          options_for_select(@evacuee_const["bedridden_elderly"].invert,
          @evacuee.bedridden_elderly),
          { :include_blank => true }, :tabindex => 29) %>
        </p>
        <p>
          <label>療育手帳所持者</label>
          <%= select(:evacuee, :rehabilitation_certificate,
          options_for_select(@evacuee_const["rehabilitation_certificate"].invert,
          @evacuee.rehabilitation_certificate),
          { :include_blank => true }, :tabindex => 31) %>
        </p>
      </div>
    </div>
    
    <p>
      <label>備考</label>
      <%= text_field :evacuee, :note, :tabindex => 33, :size => 100 %>
    </p>

  </div>
</div>